<!doctype html>
<html>
  <head>
    <title>
      Animal Facts (with gifs)
    </title>
  </head>
  <body>
    <h1><a href="/get_fact">Get a Cat Fact</a></h1> <!-- You actually don't need a form to just GET a random quote -->
  </body>
</html>