<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>
      Animal Facts (with gifs)
    </title>
  </head>
  <body>
    <div>
<!--       <audio controls>
  <source src="-This Game- feat. IA - Dubstep [ dj-Jo Remix ] Full Version.mp3" type="audio/mp3">
</audio> -->
    <h1> Welcome to the most pointless website in the world! </h1>
      <br>
      <h2> Press the cat's face for a random cat fact and gif!
      </h2>
    <form action="POST">
      <button id="cat_BTN" type="submit" style="border: 0; background: transparent">
    <img src="http://rs189.pbsrc.com/albums/z229/Razzledazzy/GIFS/1269259657_omg_cat.gif~c200" width="120" height="120" alt="submit" />
</button>
    </form>
    <form action="SEND">
      <input type="text" name="number">
      <input type="submit" value="Send a text">
    </form>
    </div>
  </body>
</html>
