<!doctype html>
<html>
  <head>
    <title>
      Animal Facts (with gifs)
    </title>
  </head>
  <body>
    <form action="POST">
      <input type="submit" name="Press for cat fact">
    </form>
    <form action="SEND">
      <input type="text" name="number">
      <input type="submit" value="Send a text">
    </form>
  </body>
</html>