<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>
      Results Page
    </title>
  </head>
  <body>
    <div id="results">
      <br>
    <h1>
      HAVE A CAT FACT!!!
    </h1>
    <h2>
      <%=@fact[1]%>
    </h2>
    <img src="<%=@fact[0]%>">
    </div>
  </body>
</html>