h1{
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #990033;
  font-size: 400%;
}

h2{
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #990033;
}

div::after {
  content: "";
/*   background: url("http://www.adagio.com/images2/custom_blends/44513.jpg"); */
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  background-repeat: no-repeat;
  background: url(http://www.adagio.com/images2/custom_blends/34913.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#cat_BTN {
  position: absolute;
    left: 1350px;
    top: 550px;
}


#results::after {
  content: "";
/*   background: url("http://www.adagio.com/images2/custom_blends/44513.jpg"); */
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  background-repeat: no-repeat;
  background: url("Surprise_kitty.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
    position: absolute;
    left: 1000px;
    top: 200px;
}
h2 { 
  position: absolute;
    left: 900px;
    top: 400px;
}
 #cat_fact {
   position: absolute;
    left: 1300px;
    top: 200px;
   text-align: center;
  font-family: 'Lobster', cursive;
  color: #990033;
 }
 #actual_Fact{
   position: absolute;
    left: 1200px;
    top: 300px;
   text-align: center;
  font-family: 'Lobster', cursive;
  color: #990033;
 }

#cat_gif{
  position: absolute;
    left: 1300px;
    top: 650px;
}

#input{
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    position: absolute;
    left: 1320px;
    top: 700px;
 
}
#submit{
    position: absolute;
    left: 1550px;
    top: 655px;
}